.btn {
  border-radius: 10%;
  border: none;
  padding: 5px;
  color: #f5f5f5;
  cursor: pointer;
}

.btn-primary {
  background-color: #ff6151;
}

li{
  list-style: none;
}
image{
  width: 400px;
}
.upload-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0
}
.upload-image li {
  margin: 0
}