$sizes: (
    mobile: 540px,
    hd: 1500px,
);

.btn {
  border: none;
  padding: 5px;
  color: #f5f5f5;
  cursor: pointer;
}

.btn-primary {
  background-color: #ff6151;
}
.btn-dsabled{
  opacity: 0.7;
  cursor: not-allowed;
}
li{
  list-style: none;
}
image{
  width: 400px;
}
.height-100 {
  height: 100%;
}
.upload {
  .uploadPlaceholder{
    // border: 1px solid black;
    margin: 1em;
    .upload-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      li {
        margin: 0
      }
      .real-image-uploader {
        position: absolute;
        z-index: 1;
        opacity: 0;
        width: 26em;
        height: 2em;
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
          width: 20em;
        }
      }
      .fake-image-text {
        position: relative;
        width: 20em;
        height: 2em;
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
          width: 14em;
        }
      }
      button {
        width: 6em;
        height: 2em;
      }
    }
    .submitButtonContainer {
      width: 6em;
      margin: 0 auto;
      button {
        width: 6em;
        height: 2em;
        margin:0.5em 0;
      }
    }
  }
  .uploadedDetails {
    display: flex;
    justify-content: center;
    animation: FadeIn 2s ease-in forwards;
    .meal {
      /* border: 1px solid black; */
      width: 60%;
      height: 40em;
      background: #333333;
      div {
        width: 85%;
        height: 85%;
        margin: 3em auto;
        img {
          height: 100%;
          width: 100%;
        }
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
          width: 95%;
          height: 93%;
          margin: 0.5em auto;
        }
        @media only screen and (max-width: map-get($map: $sizes, $key: hd)) {
          margin: 2em auto;
        }
      }
      @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
        width: 95%;
        height: 15em;
        margin: 0em auto;
      }
      @media only screen and (max-width: map-get($map: $sizes, $key: hd)) {
        height: 30em;
        width: 50%;
      }
    }
    .ingredients {
      width: 30em;
      height: 40em;
      padding: 2em 1.5em;
      background: rgb(235, 235, 235);
      color: #333333;
      .table-header {
        padding: 0 0.5em;
      }
      .table-body {
        overflow: auto;
        height: 90%;
        .ingredient {
          .icon {
            svg {
              @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: none;
              }
            }
          }
        }
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
          padding: 0 0.5em;
        }
      }
      @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
        padding: 0 0 2em 0;
        width: 100%;
      }
      @media only screen and (max-width: map-get($map: $sizes, $key: hd)) {
        height: 30em;
        padding: 1em 1.5em 2em 1.5em;
      }
    }
    @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
      flex-direction: column;
    }
  }
  @keyframes FadeIn {
    from{
      opacity: 0;
    } to {
      opacity: 1;
    }
  }
}
.centerly {
  margin-top: 30vh;
  @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
    margin-top: 15vh;
  }
}
.aboutApp {
  text-align: center;
  color: #fff;
  padding: 1em;
}