.header {
  background: white;
  .header-content {
    margin: 0 auto;
    padding: 1em;
    .menu-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      li {
        margin: 0;
        .login-button {
          padding: 0 5em;
          @media only screen and (max-width: 540px) {
            padding: 0;
          }
        }
        .avatar-image {
          width: 2em;
          height: 2em;
          border-radius: 50%;
        }
      }
    }
    .app-name {
      margin: 0;
      background: -webkit-linear-gradient(#1f9389, #a5d9a1);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2em;
      padding: 0.2em 2.5em 0.4em;
      @media only screen and (max-width: 1500px) {
          font-size: 1.5em;
          padding: 0.1em 2.5em 0.2em;
      }
      @media only screen and (max-width: 540px) {
        font-size: 2em;
        padding: 0.25em 0em;
      }
    }
  }
}